<div style="width : 350px; margin-left : 450px;">
    <form asp-controller="varlik" asp-action="Save" method="post">
        <div>
            <label for="Name">Varlık Adı:</label>
            <input name="Name" type="text" class="form-control" />
        </div>
        <div>
            <label for="Tutari">Varlık Tutarı:</label>
            <input name="Tutari" type="text" class="form-control" />
        </div>
        <div>
            <label for="Tarihi">Tarih:</label>
            <input name="Tarihi" type="month" class="form-control" />
        </div>
        <button style="margin-top : 10px; background-color : darkorange;">Kaydet</button>
    </form>
</div>