<div style="width : 350px; margin-left : 450px;" >
    <form asp-controller="ufeEndeks" asp-action="Save" method="post">
        <div>
            <label for="Deger">Endeks Oranı:</label>
            <input name="Deger" type="text" class="form-control" />
        </div>
        <div>
            <label for="DolarKuru">Dolar Kuru:</label>
            <input name="DolarKuru" type="text" class="form-control" />
        </div>
        <div>
            <label for="Tarih">Tarih:</label>
            <input name="Tarih" type="month" class="form-control" />
        </div>
        <button style="margin-top : 10px; background-color : darkorange;">Kaydet</button>
    </form>
</div>